/* ============================== FONTS ============================ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* ============================== FONTS ============================ */

/* =========================   COMPONENTS   ========================= */
@import 'nullstyle.css';
@import 'header.css';
@import 'page.css';
/* =========================   COMPONENTS   ========================= */

body {
	font-family: Roboto;
}

*._scroll-lock {
	overflow: hidden;
}

.container {
	max-width: 1000px;
	margin: auto;
}
